<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Professional Help</title>
    <style>
    .footer {
  padding: 20px;
  text-align: center;
  background: #D3D3D3;
  color: Green;
  margin-top: 20px;
}
    </style>
  </head>
  <body> 
  
  <!--NavBar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <a class="navbar-brand" href="#">Green</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="regpro">Professional help</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="blogsnews">Blogs and News</a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="help">ContactUs</a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="aboutus">AboutUs</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="OurImpact">OurImpact</a>
      </li>
    </ul>
  </div>
</nav>
   <!-- NavBar -->
   
   
  <main role="main">

      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>Example headline.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>Another example headline.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
            <div class="container">
              <div class="carousel-caption text-right">
                <h1>One more for good measure.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>


      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->
      
      
      <!-- PRO HELP -->

      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="images/koushik.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Koushik,agricultural engineer</h2>
            <p>Specialist in analysing farrming methods and food production methods to enhance safety and crop yeild. With an experiance of over 10 years and hundreads of hours of on field deployment, Koushik is one of the leading agro-veteran you should be looking out for.</p>
            <p><a class="btn btn-secondary" href="login" role="button">Contact now! &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="images/pro10.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Ananth K</h2>
            <p>Specialist in analysing farrming methods and food production methods to enhance safety and crop yeild. With an experiance of over 10 years and hundreads of hours of on field deployment, Ananth is one of the leading agro-veteran you should be looking out for.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Contact now! &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="images/pro9.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Avantika,AGRO scientist</h2>
            <p>Specialist in analysing farrming methods and food production methods to enhance safety and crop yeild. With an experiance of over 10 years and hundreads of hours of on field deployment, Avanthika is one of the leading agro-veteran you should be looking out for.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Contact now! &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">How does the testing work? <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Conduct field scouting activities independently for Farmer Programme and enter the findings into the Olam At Source programme.
               Conduct field visits to ensure that leaf, soil, and product samples are collected for allergen and pesticide residue testing, and issue field approvals based on inspections.
               Assess active ingredients (AIs) and their risk in relation to key export markets' maximum residue limits (MRL) and approve their addition to or removal from the "Approved Pesticide List" for Grower use.</p>
          </div>
          <div class="col-md-5">
            <img src="images/pro2.jpg" alt="Generic placeholder image" style="width:100%">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead"> We have procured and partnered with leading national and international brands for major agri-inputs like seeds, crop nutrition, crop protection and farm implements, that are needed for farming and we deliver them at the doorstep of farmers. Thus, our efforts at AgroStar are focused to become the driving force to equip our farmers with the power of knowledge to farm better and smarter, through technology and up to date expert advice..</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img src="images/pro1.jpg" alt="Generic placeholder image" style="width:100%">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">We are a team of highly motivated individuals, who are willing to push beyond the ceiling, initiate new ideas, and take challenges head-on. Apart from coffee, working in an extremely fast-paced, dynamic work culture is what we passionate souls thrive on. We ride against the tide as time is never enough and there’s always more to do.
              Our mission of ‘Helping Farmers Win’ is a tall task as we try to bring change and development to the grassroots of India.</p>
          </div>
          <div class="col-md-5">
           <img src="images/pro3.jpg" alt="Generic placeholder image" style="width:100%">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->


      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

<div class="footer">
  <h2>Green©</h2>
</div>
   

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>